.section-box{
  height: 917px; 
  padding-block: 72px 144px ;

    & .grid{
        width: 100%;
        height: 584px;

        margin-top: 56px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        justify-items: center;

        list-style: none;
        padding: 0;
        margin-inline: 0;

        & > li{
            list-style: none;
        }

        & .box{
            display: flex;
            width: 336px;
            height: 280px;
            border-radius: 8px;

            align-items: center;
            flex-direction: column;
            justify-content: space-around;

            background-color: var(--gray400);

            text-decoration: none;
            transition: transform 0.3s ease;

            & .box-image{
                width: 308px;
                height: 156px;
                border-radius: 8px;

                position: relative;

                & .thumble{
                    width: 100%;
                    height: 100%;

                    position: absolute;
                    object-fit: cover;
                    inset: 0;
                    border-radius: 8px;
                    z-index: 0;
                }
            }

            & .box-text{
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 306px;
                height: 75px;

                & h3{
                    font: var(--title-sm);
                    color: var(--gray100);
                }

                & p{
                    font: var(--text-sm);
                    color: var(--gray200);
                }
            }

        }

        & .box:hover{
            transform: translateY(-10px) scale(1.05);
        }

        & .no-hover{
            pointer-events: none;  /*desativa o efeito de hover*/
        }

    }

}

