.projects{
    width: 1366px;
    height: 917pX;
    margin:0 auto;
    padding-block: 72px 144px ;


    
    & header{
        height: 61;
        width: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & .content{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 8px;

            & p{
                color: var(--red);
                font: var(--text-sm);
            }

            & h2{
                color: var(--gray100);
                font: var(--title-md);
            }
        }
    }

    & .grid{
        width: 100%;
        height: 584px;
       
        margin-top: 56px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        justify-items: center;
        
        

        & .box{
            display: flex;
            width: 336px;
            height: 280px;
            background-color: blueviolet;
            border-radius: 8px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;

            background-color: var(--gray400);
            
            text-decoration: none;
            transition: transform 0.3s ease;
            
            & .box-image{
                width: 308px;
                height: 156px;
                border-radius: 8px;

                position: relative;

                & .thumble{
                    width: 100%;
                    height: 100%;

                    position: absolute;
                
                    object-fit: cover;
                    inset: 0;
                    border-radius: 8px;
                    z-index: 0;

                }
            }

            & .box-text{
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 306px;
                height: 75px;
                

                & h3{
                    font: var(--title-sm);
                    color: var(--gray100);
                }

                & p{
                    font: var(--text-sm);
                    color: var(--gray200);
                }
                
            }
        }

        & .box:hover{
            transform: translateY(-10px) scale(1.05);
        }

       
    }

   
}   