#services{
    height: 480px; 
    padding-block: 72px 144px ;
    background-color: black;

    & .grid{
        width: 100%;
        height: 584px;

        margin-top: 56px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        justify-items: center;

        list-style: none;
        padding: 0;
        margin-inline: 0;

        & > li{
            list-style: none;
        }
         
        & .box-icon-card{
            width: 280px;
            height: 155px;
            border: 1px solid var(--gray400);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            

            & .box-icon-text{
                display: flex;
                flex-direction: column;
                
                gap: 8px;
                width: 240px;
                height: 47px;
                
                & h3{
                    
                    font: var(--title-sm);
                    color: var(--gray100);
                }

                & p{
                    font: var(--text-sm);
                    color: var(--gray200);
                }
            }
        
        } 
    }

}

